<div class="container">
  <div class="col-xs-12">
    <h2>Users search for "<%= @value %>"</h2>
    <table class="table">
       <% if params[:search].present? %>
    <% if params[:model] == "user" %>
        <% @users.each do |f| %>
             <%= f.name %>
         <% end %>
    <% elsif params[:model] == "book"%>
         <% @books.each do |f| %>
             <%= f.title %>
         <% end %>
    <% end %>
<% else %>
 検索結果は存在ません
<% end %>
    </table>
  </div>
</div>